html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body, p, a, h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

img {
    border-style: none;
}

/* Stepper
-------------------------------------------------- */
.stepper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    padding-bottom: 40px;
}

.stepper > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.stepper > div:first-child {
    width: auto;
}

.stepper .step,
.stepper .step button {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    border: none;
    background: transparent;
}

.stepper .step-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #b2b2b2;
    text-align: center;
    color: #ffffff;
    position: relative;
    line-height: 30px;
    margin: 0 7px;
    display: block;
}

.stepper .step.active .step-icon {
    background: #1473c8;
}

.stepper .step .step-label {
    display: none;
    text-align: center;
    position: absolute;
    top: 40px;
    color: #b2b2b2;
    font-size: 0.929em;
    left: 50%;
    transform: translateX(-50%);
}

.stepper .step .step-label span {
    font-size: 11px;
    display: block;
}

.stepper .step.active .step-label {
    color: #212121;
    font-weight: 700;
    display: block;
}

.stepper .step.done .step-label {
    color: #757575;
}

.stepper .indicator-line {
    height: 1px;
    background: #d8d8d8;
    flex: 1;
}

.stepper .indicator-line.active {
    background: #1473c8;
}

/* Small devices Tablets (≥768px) */
@media (min-width: 768px) {
    /* Stepper */
    .stepper .step .step-label {
        display: block;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Stepper */
    .stepper .step .step-label {
        min-width: 150px;
    }
}

/* Title
-------------------------------------------------- */
p.title_question {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
    font-family: monospace;
}

div.items-block {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    transition: all 0.1s linear;
    background: transparent;
    border: none;
}

.item:hover {
    background: rgba(216, 216, 216, 0.67);
    cursor: pointer;
}

.selected-btn {
    background: rgba(216, 216, 216, 0.8);
}

.item p.item-name {
    margin: 10px 0;
    font-size: 14px;
}

.item span.item-price {
    font-size: 12px
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.buttons button {
    padding: 8px 50px;
    background: #d2d2d2;
    border: none;
    border-radius: 2px;
}

.buttons button:hover {
    background: #b4b4b4;
    cursor: pointer;
}